<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

    <head>
        <title>Internationalization Demo | Carey Development Demos</title>
        <meta content="This demo shows how to implement internationalization with Spring Boot" name="description" />
        <object th:include="fragments/head :: head" th:remove="tag"></object>
    </head>
    
    <body class="page-container-bg-solid">
        <div th:include="fragments/topmenuheader :: header"></div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                        <div class="row" style="height:150px">
                            <div class="col-md-6 ">
                                <h1 th:text="#{home.page.title}"></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-globe"></i>
                                            <span class="caption-subject bold uppercase" th:text="#{home.page.change.header}"></span>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form role="form">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label th:text="#{home.page.change.label}"></label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-question"></i>
                                                        </span>
                                                        <select id="languageSelect" class="form-control">
                                                            <option value="">--SELECT--</option>
                                                            <option value="en" th:text="#{home.page.change.lang.en}"></option>
                                                            <option value="id" th:text="#{home.page.change.lang.id}"></option>
                                                            <option value="es" th:text="#{home.page.change.lang.es}"></option>
                                                            <option value="fr" th:text="#{home.page.change.lang.fr}"></option>
                                                        </select> 
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#languageSelect").change(function () {
                    var selectedOption = $('#languageSelect').val();
                    if (selectedOption != '') {
                        window.location.replace('./international?lang=' + selectedOption);
                    }
                });
            });
        </script>
    </body>
</html>